<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="middle">
        <h1 class="date"><%- mnt %></h1>
        
    </div>
    <br>
    <div class="addTask">
        <a href='/new'><button class="btn">+</button></a>
    </div>
</body>
</html>