<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div class="center">
        <form method="POST">
            <div>
                <input type="text" name="Title" placeholder="TITLE" class="name" required="true">
            </div>
            <br>
            <br>
            <div>
                <select name="Task" class="tasklist">
                    <option value="simpleTask">Simple Task</option>
                    <option value="complexTask">Complex Task</option>
                    <option value="reminder">Reminder</option>
                </select>
            </div>
            <br>
            <br>
            <div class="time">
                <h3 class="timeH">Time</h3>
               <input type="time" class="tm" name="Time">
            </div>
            <br>
            <textarea rows="4" cols="20" class="desc" name="desc">Enter Description</textarea>
            <br>
            <br>
            <br>
            <button type="submit" class="taskSubmit">Submit</button>
        </form>
    </div>
</body>
</html>